* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


body{
    background-image: url("\\Assets\\bg-image01.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 110vh;
    overflow-x: hidden;
}

/* Nav Bar Style */

.header{
    display: flex;
    justify-content: center;
    text-align: center;
}

#nav-bar{

    background-color: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar-logo-contect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

#nav-bar-logo-contect img{
    width: 100px;
}

#nav-bar-logo-contect span{
    font-size: larger;
    font-weight: bold;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-right: 30px;
}


#nav-bar ul li a{
    text-decoration: none;
    font-size: small;
    font-weight: 700;
    color: black;
    
}

/* header after section */

#header-after-contect{
    margin-top: 80px;

}

#header-after-contect-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: #fff;
    
}

#header-after-contect-container-para{
    font-size: 18px;
    font-weight: 800;

}
#header-after-contect-container-h1{
    font-size: 60px;
    font-weight: 200;
}
#header-after-contect-container-btn{
    padding: 14px 23px;
    background-color: rgb(255, 203, 31);
    color: #fff;
    border: 1px solid rgb(255, 203, 31);
    font-weight: 600;

}

#header-after-contect-container-btn:hover{
    color: black;
}


#book-room-from{
    margin-left: 25px;
    width: 95%;
    height: 30vh;
    margin-top:100px ;
    color: #fff;
    background-color: rgb(9, 9, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-room-f-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#book-room-f-container h1{
    padding-left: 10px;
    font-weight: bolder;
}

#book-room-f-container01 p{
    
    font-size: large;
}


#book-room-f-container01 input{
    margin-top: 10px;
    padding: 10px 25px;
    border: 1px solid grey;
    background-color: black;
    color: grey;


}


#book-room-f-container02 p{
    
    font-size: large;
}


#book-room-f-container02 input{
    margin-top: 10px;
    padding: 8px 4px;
    /* padding: 10px 25px; */
    border: 1px solid rgb(128, 128, 128);
    background-color: black;
    color: grey;

}


#book-room-f-container-btn{
    margin-top: 30px;
    padding: 10px 20px;
    font-weight: 700;
    background-color: rgb(255, 203, 31);
    color: #fff;
    border: 1px solid rgb(255, 203, 31);
}

#rooms-section{
    margin-top: 100px;
}

#rooms-section-container01{
    text-align: center;
}


#rooms-section-container01 h1{
    font-size: 40px;
    margin-bottom: 10px;
}

/* swiper silder rooms  */

.swiper {
    margin-top: 30px;
    width: 90%;
    height: 80%;

    
  }

  .swiper-slide {
    justify-content: center;
    align-items: center;

  }

  #swiper-slide-img{
    
    width: 100%;
    height: 300px;
  }

  /* rooms details style */

#rooms-details{
    text-align: center;
}

#rooms-details-h1{
    font-size: 30px;
    font-weight: 200;

}

#rooms-details-para{
    margin-top: 10px;
    color: rgb(23, 168, 225);
}

#rooms-details-para span{
    font-size: x-large;
    font-weight: 700;
    font-weight: 900;
}

#rooms-details-btn{
    padding: 10px 15px;
    margin-top: 10px;
    font-weight: 700;
    background-color: rgb(255, 203, 31);
    color: #fff;
    border: 1px solid rgb(255, 203, 31);
    margin-bottom: 40px;
}


/* Facilities Section */

#Facilities-section{
    margin-top: 100px;
    background-color: rgb(9, 9, 14);
    color: #fff;
    
}

#Facilities-section-container01{
    padding-top: 100px;
    text-align: center;
}
#Facilities-section-container01 h1{
    font-size: 30px;
    margin-bottom: 10px;
}


#Facilities-section-container02{
    margin-top: 100px;

}

#Facilities-section-c02-subcontainer01{
    display: flex;
    justify-content: space-around;
}

#Facilities-section-c02-subcontainer01-01{
    border-radius: 10px;
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(23, 23, 41);
    padding-left: 30px;
    width: 350px;
    height: 200px;
    margin-bottom: 50px;
}


#Facilities-section-c02-subcontainer01-01 div{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}


#Facilities-section-c02-subcontainer01-01 div img{
    width: 50px;
}

#Facilities-section-c02-subcontainer01-01 div span{
    font-size: x-large;
    font-weight: 900;
}


#Facilities-section-c02-subcontainer01-01 p{
    margin-top: 30px;
}



/* About Us section */

#Aboutus-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top: 100px;
}

#Aboutus-section-container01{
    margin-top: 60px;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    padding-left: 40px;
}

#Aboutus-section-container01 h1{
    font-size: 30px;
}

#Aboutus-section-container01 p{
    font-weight: 600;

}
#Aboutus-section-container01 button{
    padding: 10px 25px;
    font-weight: 800;
    background-color: rgb(255, 203, 31);
    color: #fff;
    border: 1px solid rgb(255, 203, 31);

}

#Aboutus-section-container02{
    width: 45vw;
} 

#Aboutus-section-container02 img{
    width: 550px;
}


/* Gallery section */

#Gallery-section{
    margin-top: 100px;
    border: 2px solid black;
    padding-top: 100px;
    background-color: rgb(9, 9, 14);
    color: #fff;
    padding-bottom: 30px;

}

#Gallery-section-container01{
    text-align: center;
}

#Gallery-section-container01 h1{
    font-size: 30px;
    margin-bottom: 15px;

}

#Gallery-section-container02{
    margin-top: 100px;
}

#Gallery-section-c02-subcontainer01{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#Gallery-section-c02-subcontainer01 div img{
    border-radius: 10px;
    width: 380px;
    height: 300px;

}

/* Custom Review section */

#Custom-Review-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

#Custom-Review-section-container01{
    text-align: center;

}

#Custom-Review-section-container01 h1{
    font-size: 30px;
    margin-bottom: 15px;
}

/* silder */

.swiper {
    width: 100%;
    height: 100%;
  }

  .G-slider {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .G-slider img {
    width: 200px;


  }

  .G-slider p{
    width: 60vw;
    margin-bottom: 50px;
  }

  .swiper-button-prev{
    margin-left: 100px;
  }

  .swiper-button-next{
    margin-right: 100px;
  }


  /* Footer section */

#footer-section{
    margin-top: 100px;
}


#footer-main-container{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

#footer-subcontainer01{
    font-weight: 900;
}
#footer-subcontainer01 p span{
    color: orange;
}


#footer-subcontainer02{
    display: flex;
    gap: 20px;
}
    
.fa-brands{
    font-size: 25px;
    color: rgb(255, 203, 31);

}






